// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------
$black:                          #000000;
$page-background-color:          #E0E0E0;
$button-active-color:            #FFFFFF;
$button-background-color:        #000000;
$button-hover-color:             #808080;
$white:                          #FFFFFF;