// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------
$black:                          #000000;
$button-active-color:            #FFFFFF;
$button-background-color:        #000000;
$button-hover-color:             #808080;
$link-active-color:              #F89F1B;  // gold
$link-color:                     #0000FF;
$link-hover-color:               #808080;
$page-background-color:          #E0E0E0;
$table-row-selected-color:       #D0D0D0;
$table-row-separator-color:      #C0C0C0;
$white:                          #FFFFFF;