// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------
$black:                          #000000;
$container-background-color:     #EFEFEF;
$white:                          #FFFFFF;