/* -----------------------------------------------------------------------------
 * Primary Styles
 * -------------------------------------------------------------------------- */
body {
    background-color: $page-background-color;
}

p {
    margin: 6px 0 0 0;
}

h1 {
    font: normal normal 20px Arial;
    margin: 0 0 10px 0;
}

h2 {
    font: normal normal 16px Arial;
}

select {
    display: block;
}

/* -----------------------------------------------------------------------------
 * Home Page
 * -------------------------------------------------------------------------- */
#home-page {
    padding: 10px;
}

#order-table-page {
    padding: 10px;
}