/* -----------------------------------------------------------------------------
 * general
 * -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Primary Styles
 * -------------------------------------------------------------------------- */
p {
    margin: 6px 0 0 0;
}

h1 {
    font: normal normal 24px Arial;
}

h2 {
    font: normal normal 16px Arial;
}

/* -----------------------------------------------------------------------------
 * Main Container
 * -------------------------------------------------------------------------- */
#container {
    background-color: $container-background-color;
    margin: auto;
    padding: 10px;
    width: 960px;
}